<ol class="breadcrumb">
  <li><a href="<:= baseUrl :>/publisher/">Publishers</a></li>
  <li class="active"><:- publisher.name :></li>
</ol>
<table class="table" id="Games" data-sortable>
  <caption>Games Published</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Platform</th>
      <th>Released</th>
    </tr>
  </thead>
  <tbody>
  <: Object.keys(games).sort().forEach((game) => { :>
    <tr>
      <td><a href="<:= baseUrl :>/platform/<:= game :>"><:= games[game].name :></a></td>
      <td><span class="label label-success"><:= games[game].platform :></span></td>
      <td data-order="<:= (games[game].released && games[game].released.sortable) || '' :>"><:= releasedOn(games[game].released) :></td>
    </tr>
  <: }) :>
  </tbody>
</table>
<script type="module" src="<:= baseUrl :>/static/script/sortable-table.js"></script>
