<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GameDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="base-url" content="<:= baseUrl :>">
    <link rel="author" type="text/plain" href="<:= baseUrl :>/humans.txt">
    <link type="text/css" href="<:= baseUrl :>/static/css/cms.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand thin" href="<:= baseUrl :>/">GameDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<:= baseUrl :>/platform/">games</a></li>
            <li><a href="<:= baseUrl :>/publisher/">publishers</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main id="main" class="container">
      <:- body -:>
    </main>
    <footer id="footer">
      <div class="container">
        <p class="text-muted"><small>Created with &#9825; by <a href="http://jason.sperske.com/">Jason Sperske</a></small></p>
      </div>
    </footer>
  </body>
</html>
